.messageSring {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  margin: 5px 0;
  width: 85%;
}

.messageSringAllWidth {
  width: 100%;
}

.buttonSend {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}
